.checkboxWrapper {
  padding-top: 6px;
  position: relative;
  z-index: 1;
}

.checkboxVisual {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.checkboxVisual.checked {
  border: none;
  background-color: var(--purple-accent);
  box-shadow: 0 0 0 4px var(--purple-alpha-20);
}

.checkboxVisual.unchecked {
  border: 2px solid var(--border-color);
  background-color: transparent;
  box-shadow: none;
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}
